In [17]:
#importing librarries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [18]:
dataset=pd.read_csv("Social_Network_Ads.csv")

In [19]:
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [20]:
#Due to Nominal data present in dataset, Use get_dummies to split (One hot encoding)
#drop_first is used to eliminate 1st column of purchased as the result will be same even it is dropped and memory consuming is less
dataset = pd.get_dummies(dataset,dtype=int, drop_first = True)
#shows the input dataset
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [21]:
#Samples should not have more difference
#how many clause we are classifing and data is balanced or imbalanced
dataset["Purchased"].value_counts()

Purchased
0    257
1    143
Name: count, dtype: int64

In [22]:
indep=dataset[["Age","EstimatedSalary","Gender_Male"]]
dep=dataset[["Purchased"]]

In [23]:
#Splitting train and test set
from sklearn.model_selection import train_test_split
X_train , X_test , Y_train , Y_test = train_test_split(indep, dep, test_size = 1/3 , random_state = 0)

In [24]:
from sklearn.svm import SVC
classifier=SVC(kernel = 'rbf' , random_state = 0)
classifier.fit(X_train, Y_train)

C:\Users\DELL\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(random_state=0)

In [25]:
Y_pred = classifier.predict(X_test)

In [26]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_test, Y_pred)

In [27]:
print(cm)

[[82  3]
 [26 23]]

In [28]:
from sklearn.metrics import classification_report
clf_report = classification_report(Y_test , Y_pred)

In [29]:
print(clf_report)

              precision    recall  f1-score   support

           0       0.76      0.96      0.85        85
           1       0.88      0.47      0.61        49

    accuracy                           0.78       134
   macro avg       0.82      0.72      0.73       134
weighted avg       0.81      0.78      0.76       134

In [32]:
#To save model import pickle library
import pickle
filename = "Finalised_Model_svm_class_Assn.sav"
#to dump the model into file
#wb- write funtion 
pickle.dump(classifier,open(filename,('wb')))

In [33]:
#to load model and test in real time
Loaded_Model = pickle.load(open("Finalised_Model_svm_class_Assn.sav",('rb')))
Result = Loaded_Model.predict([[19000,20,1]])

C:\Users\DELL\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

In [34]:
Result

array([0], dtype=int64)